@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /*Colors*/
    --principal-color: #6A4BCF;
    --secondary-color: #8A6FF5;
    --destaque-color: #E27BEA;
    --light_pink-color: #F2C4FF;
    --text-color: #22202A;
    --text-color-destaque: #2D1B56;
    --bg-color: #F6F5FB;

    /*Fonts*/
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-tertiary: 'Merriweather Sans', sans-serif;
    --font-links: 'Spectral', serif;
    --font-accent: 'Alex Brush', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*General configuration */

body {
    background-color: var(--bg-color);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.34);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;
    z-index: 8;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* NAV */

.nav-container {
    position: sticky;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #5E3CCF, #775BEF);
    top: 0;
    left: 70px;
    max-height: 75px;
    z-index: 10;
    padding: 20px 50px;
}

.nav-container.hero-passed {
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.21);
}

.nav-logo {
    display: flex;
    width: 350px;
    align-items: center;
}

.nav-logo p {
    font-family: var(--font-accent);
    font-size: 2rem;
    color: var(--bg-color);
    margin-left: 15px;
    text-shadow: 0 2px 8px rgba(0,0,0,.35);
}

#logo {
    width: 50px;
    height: auto;
    border-radius: 40%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-container a {
    text-decoration: none;
    color: var(--bg-color);
    font-family: var(--font-links);
    font-weight: 600;
}

.nav-links a::after {
    content: '';
    display: block;
    height: 3px;
    background-color: #F2C4FF;
    transition: width .5s;
    width: 0;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Hamburger Menu */
.menu-hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    width: 30px;
    height: 45px;
    justify-content: center;
}

.bar {
    display: block;
    width: 28px;
    height: 2.8px;
    background-color: white;
}

.nav-responsive_container {
    display: none;
    width: 100%;
    height: 50px;
    position: absolute;
    background: linear-gradient(to right, var(--principal-color), var(--secondary-color));
    bottom: -50px;
    left: 0;
    z-index: 9;
}

.nav-responsive_container.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links_responsive.active {
    display: flex;
    flex-direction: row;
    font-size: .9rem;
}

/* Header/Hero */

#hero {
    height: 90vh;
    display: flex;
    background: linear-gradient(135deg, #5E3CCF 0%, #775BEF 50%, #C598E7 100%);
    color: var(--bg-color);
    padding: 50px;
    position: relative;
}

.info-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #E27BEA, #F4A8F0);
    color: var(--text-color-destaque);
    text-align: center;
    padding: 10px 0;
    font-family: var(--font-secondary);
    font-size: .7rem;
}

.hero-div {
    font-family: var(--font-primary);
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.hero-content {
    margin-top: 5%;
    font-family: var(--font-tertiary);
}

.hero-content h1 {
    font-size: 2.1rem;
    margin-bottom: 5px;
}

.hero-content h3 {
    font-size: 1.5rem;
}

.hero-content p {
    font-size: 1.5rem;
}

.name-psi {
    font-family: var(--font-accent);
    font-size: 3.4rem;
    font-weight: 500;
    margin-top: 20px;
    text-shadow: 0 2px 8px rgba(0,0,0,.35);
}

.num-psi {
    margin-bottom: 50px;
}

#hero-btn_contact {
    position: absolute;
    bottom: 30px;
    left: 20%;
    transform: translateX(-50%);
    height: 50px;
    width: 220px;
    display: inline;
    border: none;
    border-radius: 4px;
    padding: 0 5px;
    color: var(--bg-color);
    background-color: var(--destaque-color);
    cursor: pointer;
    transition: all .4s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#hero-btn_contact:hover {
    background-color: var(--light_pink-color);
    color: var(--text-color-destaque);
}

.hero-left-content {
    height: 100%;
}

.experiencia {
    display: flex;
    margin-top: auto;
    gap: 20px;
    align-items: center;
}

.experiencia h2 {
    padding: 15px;
    background-color: var(--destaque-color);
    width: fit-content;
    border-radius: 15px;
}

.experiencia p {
    text-align: center;
    font-size: .9rem;
    color: #f6f5fbb7;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        gap: 15px;
    }

    .menu-hamburguer {
        display: flex;
        gap: 4px;
    }

    .nav-container {
        padding: 10px 20px;
    }

    .nav-logo p {
        font-size: 1.5rem;
    }
}